<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= item.position %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

</div>
