<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_list_item_path(@item.list, @item) %> |

  <%= button_to "Destroy this item", list_item_path(@item.list, @item), method: :delete %>
</div>
